@font-face {
  font-family: PeydaWeb;
  src: url("/font/woff2/PeydaWeb-Bold.woff2");
  src: url("/font/woff2/PeydaWeb-Medium.woff2");
  src: url("/font/woff/PeydaWeb-Bold.woff");
  src: url("/font/woff/PeydaWeb-Medium.woff");
  src: url("/font/eot/PeydaWeb-Bold.eot");
  src: url("/font/eot/PeydaWeb-Medium.eot");
  src: url("/font/ttf/Peyda-Bold.ttf");
  src: url("/font/ttf/Peyda-Medium.ttf");
}

body {
  font-family: PeydaWeb;
  background-image: url("/icons/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
  a {
    color: #414040;
    -webkit-appearance: none;
  }
  button {
    color: #222020 !important;
    -webkit-appearance: none;
  }
}

a {
  text-decoration: none;
  color: #414040 !important;
  -webkit-appearance: none;
}

button {
  color: #222020 !important;
  -webkit-appearance: none;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: max-height 0.2s ease-out;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-logo,
.phone-logo,
.arrow-logo {
  height: 17px;
  width: 17px;
  opacity: 0.5;
  margin-right: 8px;
}
.spark-logo {
  height: 20px;
  width: 21px;
  opacity: 0.5;
}
.telegram-logo,
.eitaa-logo {
  height: 44px;
  width: 44px;
  margin-bottom: -7px;
  margin-top: 10px;
}
#hami-logo {
  height: 48px;
  width: 48px;
  border-radius: 44px;
  opacity: 1;
  margin-left: 18px;
}
.box1 {
  background-color: rgba(255, 251, 251, 0.9);

  width: 330px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
#b1-c2 {
  flex: 3;
}
#b1-c3 {
  flex: 1;
}
#title {
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: -8px;
}
#msg {
  font-size: 11px;
  color: #747373;
  margin-left: 10px;
}
#time {
  font-size: 11px;
  color: #949494;
  margin-left: 5px;
  margin-top: 23px;
  margin-bottom: 3px;
}
#notif {
  font-size: 11px;
  color: #ebe9e9;
  padding-left: 4px;
  padding-top: 3px;
}
#notif-container {
  background-color: #a1a1a1;
  border-radius: 50px;
  width: 13px;
  height: 13px;
  margin-left: 33px;
  margin-bottom: 23px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}
.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbfb;
  width: 330px;
  height: 205px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.b2-r1 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  margin-bottom: -4px;
}
.b2b {
  font-family: PeydaWeb;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33px;
  width: 312px;
  border-radius: 15px;
  border: solid;
  border-color: #d2d2d2;
  background-color: #d2d2d2;
  margin-block: 2px;
}
.no1 {
  color: rgb(102, 102, 102);
  margin-top: 15px;
}
.no2 {
  color: rgb(102, 102, 102);
  margin-top: 15px;
}
.no3 {
  color: rgb(102, 102, 102);
  margin-top: 15px;
}
.no4 {
  color: rgb(102, 102, 102);
  margin-top: 15px;
}
.contact {
  padding-right: 3px;
  flex: 3;
}

.box3 {
  height: 93px;
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
#apps-title {
  background-color: #fffbfb;

  width: 129px;
  height: 93px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
#apps-title-text {
  font-weight: bold;
  text-align: center;
  color: #131a46;
}
#eit-b,
#tel-b {
  font-family: PeydaWeb;
  font-weight: bold;
  width: 89px;
  height: 93px;
  background-color: #fffbfb;
  border-radius: 15px;
  border: solid;
  border-color: #fffbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box4 {
  background-color: rgba(255, 251, 251, 1);
  border-radius: 15px;
  width: 330px;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#qs-title {
  font-family: PeydaWeb;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: -8px;
}
.collapsible {
  font-family: PeydaWeb;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 10px;
  justify-content: space-between;
  height: 33px;
  width: 312px;
  border-radius: 15px;
  border: solid;
  border-color: #d2d2d2;
  background-color: #d2d2d2;
  margin-block: 2px;
  margin-left: 13px;
  cursor: pointer;
  width: 92%;
  border: none;
  text-align: left;
  outline: none;
}
.b5-r5 {
  margin-bottom: 15px;
}
.active,
.collapsible:hover {
  background-color: rgb(183, 186, 204);
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  font-family: PeydaWeb;
  text-align: right;
  text-justify: inter-word;
  direction: rtl;
  font-size: 13px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.box5 {
  width: 330px;
  height: 44px;
  background-color: rgba(255, 251, 251, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.box6 {
  width: 330px;
  height: 44px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#direct-line {
  height: 40px;
  width: 160px;
  background-color: #fffbfb;

  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#dl-b {
  height: 40px;
  width: 160px;
  background-color: #fffbfb;
  color: #414040;
  border-radius: 15px;
  border: solid;
  border-color: #fffbfb;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
